kbd{

	blackground-color:#f4f7f8;
	border-radious :3px;
	border: 1px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2),
				0 2px 0 0 rgba(255,255,255,0.7)inset;
	display: inline-block;
	font-size: 1em;
	line-height: inherit;
	padding: 2px 4px;
	white-space: nowrap;
}